<!DOCTYPE html>
<html lang="en">
<head >
<%- include('../partials/head') %>
</head>
<body class="container-fluid">
    <header class="text-center bg-light">
        <%- include('../partials/header') %>
    </header>
    <main class="text-center">        
        <% if (changeView) { %>
        <%- include('../partials/formulario', {productos: productos}) %>
        <form action="/productos" method="get">
            <button id='change2' class="btn btn-info">Ver Productos</button>
        </form>
        <% } else{ %>
        <%- include('../partials/tabla', {productos: productos}) %>
        <form action="/productos" method="get">
            <button id='change' class="btn btn-info">Ingresar Producto</button>
        </form>
        <% } %>
        
    </main>
</body>
</html>