<h2>Ingrese Datos</h2>
<div class="container mt-3 bg-secondary">
    <div class="jumbotron">      
      <br />
      <form action="/productos" method="post">
        <div class="form-group">
          <label for="title"><b>Titulo</b></label>
          <input id="title" class="form-control" type="text" name="title" />
        </div>
        <div class="form-group">
          <label for="price"><b>Precio</b></label>
          <input
            id="price"
            class="form-control"
            type="text"
            name="price"
          />
        </div>
        <div class="form-group">
          <label for="url"><b>Url</b></label>
          <input id="url" class="form-control" type="text" name="url" />
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
      </form>         
    </div>
  </div>